/* Removes white loading page */

@-moz-document url(about:blank), url(about:newtab), url(about:home) url(about:preferences){
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
        background: #222436 !important;
    }
}

@-moz-document url-prefix("about:"),
@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html") {
	window,
	page,
	html,
	.main-content,
	scrollbar {
		scrollbar-width: none !important;
	}
}
/* for anywhere internal pages FF */
* {
	scrollbar-width: none !important;
}
