/* Popup Background & Text Color */
.PanelUI-subView {
  --arrowpanel-background: var(--main-bg-color) !important;
  --arropanel-color: var(--text-color) !important;
  --lwt-accent-color: var(--main-bg-color) !important;
  --lwt-text-color: var(--text-color) !important;
  color: var(--text-color) !important;
}

/* Hide Non-Required Options */
#appMenu-fxa-status,
.sync-ui-item,
#appMenu-new-window-button {
  display: none !important;
}

.panel-arrowcontent, {
  border-radius: 8px !important;
  margin-top: 8px !important;
}

.panel-arrowbox {
  fill: var(--main-bg-color) !important;
  display: none !important;
}

.subviewbutton:hover,
.subviewbutton:active,
.subviebutton:focus {
  background-color: rgba(255, 255, 255, 0.15) !important;
  transition: background-color 100ms ease-out !important;
}

#appMenu-library0button .toolbarbutton-icon {
  fill: var(--text-color) !important;
}

menupopup > menuitem:last-child {
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

menupopup > menuitem,
#context-navigation {
  color: var(--text-color) !important;
}

menupopup > menuitem:hover,
menupopup > menuitem:focus,
menupopup > menuitem:active,
#context-navigation {
  background-color: var(--main-bg-color) !important;
}
menupopup > menuitem:active,
