/* NAV BAR */

#nav-bar{
  -moz-box-ordinal-group: 0 !important;
  border: none !important;
  position: relative !important;
  background-color: var(--main-bg-color) !important;
  background-image: none !important;
  height: var(--navbar-height) !important;
}

#navigator-toolbox,
#navigator-toolbox::before,
#navigator-toolbox::after {
  border: 0px !important;
}
