/* URL BAR */
#urlbar, #searchbar {
    background-color: var(--url-mask-color) !important;
    border-radius: var(--urlbar-rounding) !important;
    border-style: none !important;
    padding: 0px 2px 0px 2px !important;
    min-height: 20px !important;
}

#urlbar:hover {
    box-shadow: var(--urlbar-shadow-open) !important;
    transition: box-shadow 50ms linear 50ms;
}

#urlbar-input {
	caret-color: white !important;
    text-align: center !important;
    font-size: 14px !important;
}

.urlbarView::before {
    border: none !important;
}

.urlbarView {
    background-image: url(assets/noise-512x512.png) !important;
    background-color: var(--urlview-color) !important;
    backdrop-filter: blur(32px) !important;
	border: none !important;
    border-radius: 0 0 var(--inputbar-rounding) var(--inputbar-rounding) !important;
}

.urlbarView-favicon {
    display: None !important;   
}

.urlbarView-title,
.urlbarView-url {
	text-overflow: ellipsis !important;
	mask-image: none !important;
}
